.chart-title {
    text-align: center;
    font-weight: 600;
    padding-top: 15px;
}
.d3-chart {
    width: 91%;
    height: 350px;
}
.svg-chart {
  padding-left: 4%;
}
.axis .axis--y {
    padding-left: 4px;
  fill: #999;
}
.d3-chart .axis path,
.d3-chart .axis {
  stroke: #999;
}

.d3-chart .axis text, .tick text {
  fill: #999;
}
.grid-y path {
  stroke: white;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.dot-circle {
  stroke: blue;
  fill: white;
}
.axisX line {
  stroke: #999;
}
.axisX path{
  stroke: #999;
}
.axisY line {
  stroke: #999;
}

.axisY path{
  stroke: #999;
}

.chartTooltip {
    position: absolute;
    text-align: center;
    width: 125px;
    height: 40px;
    padding: 3px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    display: block;
    border-radius: 8px;
    pointer-events: none;
}

.zero {
  stroke: #ffa500;
  stroke-width: 1px;
}

rect{
  fill: white;
  stroke: #ffa500;
  stroke-width: 2px;
}
.now-text {
  fill: #ffa500;
}

.grid-y line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
.grid-y > g > text {
    padding-left: 5px;
    margin-bottom: 5px;
    margin-left: 4%;
}