<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <line-chart [data]="chartData" [itemName]="name" [now]="nowHour"></line-chart>
  <div class="bar-chart">
    <bar-chart *ngIf="barChartData" [data]="barChartData" [yAxisLabel]="yLabelText"></bar-chart>
  </div>
  
</div>

