.chart-container {
    width: 100%;
    height: 100%;
  }
  .d3-chart {
    width: 95%;
    height: inherit;
  }
  
  .d3-chart .axis path,
  .d3-chart .axis line {
    stroke: #999;
  }
  
  .d3-chart .axis text {
    fill: #999;
  }
  
  .axis-y > .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  .grid path {
    stroke-width: 0;
  }
  
  g.axis.axis-y.grid > g > text {
      padding-left: 5px;
      margin-bottom: 5px;
      margin-left: 4%;
  }
  
  
  .toolTip {
    display: none;
    background:#ADADAD;
    box-shadow: 0 0 5px #fed5cd;
    position: absolute;
    text-align: center;
    min-width: 60px;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    color:  #FFFFFF;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }